.center-wrap{
  display:flex;
  justify-content:center;
  padding:40px 0;
}

.wrap{
  max-width:400px;
  width:80%;
  background:var(--panel);
  border-radius:20px;
  padding:22px 20px 30px;
  text-align:center;
  position:relative;

  box-shadow:
    0 0 0 1px rgba(14,242,213,0.35),
    0 0 20px rgba(14,242,213,0.25),
    0 0 40px rgba(19,242,255,0.15),
    0 25px 45px rgba(0,0,0,0.7);

  animation: edgeGlow 3s ease-in-out infinite alternate;
}

@keyframes edgeGlow{
  from{
    box-shadow:
      0 0 0 1px rgba(67,242,14,0.25),
      0 0 16px rgba(14,242,37,0.18),
      0 0 32px rgba(19,242,255,0.1),
      0 25px 45px rgba(0,0,0,0.7);
  }
  to{
    box-shadow:
      0 0 0 1px rgba(14,242,41,0.45),
      0 0 28px rgba(14,242,213,0.35),
      0 0 55px rgba(19,242,255,0.22),
      0 25px 45px rgba(0,0,0,0.7);
  }
}